<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f9457e77c9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Home</title>
</head>
<body>
    <header class="header">
        <img src="images/logo-mercado-liebre.svg" alt="logo" class="header__logo">
        <nav class="header__nav">
           <input type="search" title="buscar" placeholder="Buscar productos, marcas" class="header__buscador">
              <button type="submit" class="header_boton-buscador"><i class="fas fa-search"  title="button"></i></button>
        </nav>
        <p class="header__text"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        <div class="header__contenedor__menu">
        <ul class="header__menu">
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
        </ul>
        <ul class="header__menu">
            <li>Crea tu cuenta  <i class="fa-regular fa-id-card"></i></li>
            <li>Ingresá  <i class="fa-solid fa-right-to-bracket"></i></li>
            <li>Mis compras  <i class="fa-solid fa-basket-shopping"></i></li>
        </ul>
            <div class="header_burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <img src="images/img-home-banner.jpg" alt="banner"  class="header__banner" >
    </header>
        <main class="home__main">
            <section class="home__main__section">
                <h4 class="home__main__section--title">Basado en tu última visita</h4>
               <article class="home__main__section__article">
                <img src="images/img-cafetera-moulinex.jpg" alt="cafetera">
                <div class="home__main__section__article--info">
                    <i class="fa-solid fa-truck"></i>
                    <p class=home__main__section__article--info--precio>$6.770</p>
                    <p class=home__main__section__article--info--desc>40% OFF</p>
                    <h5>Cafetera Moulinex</h5>
                </div>
               </article>
               <article class="home__main__section__article">
                <img src="images/img-macbook-pro-2019.jpg" alt="macbook">
                
                <div class="home__main__section__article--info">
                    <i class="fa-solid fa-truck"></i>
                    <p class=home__main__section__article--info--precio>$230.000</p>
                    <p class=home__main__section__article--info--desc>20% off</p>
                    <h5>MacBook Pro 2019</h5>
                </div>
               </article>
               <article class="home__main__section__article">
                <img src="images/img-samsung-galaxy-s10.jpg" alt="celular">
                
                <div class="home__main__section__article--info">
                    <i class="fa-solid fa-truck"></i>
                    <p class=home__main__section__article--info--precio>$70.500</p>
                    <p class=home__main__section__article--info--desc>10% off</p>
                    <h5>Samsung Galaxy S10</h5>
                </div>
               </article>
               <article class="home__main__section__article">
                <img src="images/img-tv-samsung-smart.jpg" alt="macbook">
                
                <div class="home__main__section__article--info">
                    <i class="fa-solid fa-truck"></i>
                    <p class=home__main__section__article--info--precio>$23.200</p>
                    <p class=home__main__section__article--info--desc>5% off</p>
                    <h5>SmartTv Samsung 43"</h5>
                </div>
            </article>
            </section>
            <section class="home__main__section">
                <h4 class="home__main__section--title">Sección de Ofertas</h4>
                <article class="home__main__section__article">
                    <img src="images/img-cafetera-moulinex.jpg" alt="cafetera">
                    <div class="home__main__section__article--info">
                        <i class="fa-solid fa-truck"></i>
                        <p class=home__main__section__article--info--precio>$6.770</p>
                        <p class=home__main__section__article--info--desc>40% OFF</p>
                        <h5>Cafetera Moulinex</h5>
                    </div>
                   </article>
                   <article class="home__main__section__article">
                    <img src="images/img-macbook-pro-2019.jpg" alt="macbook">
                    <div class="home__main__section__article--info">
                        <i class="fa-solid fa-truck"></i>
                        <p class=home__main__section__article--info--precio>$230.000</p>
                        <p class=home__main__section__article--info--desc>20% off</p>
                        <h5>MacBook Pro 2019</h5>
                    </div>
                   </article>
                   <article class="home__main__section__article">
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="celular">
                    <div class="home__main__section__article--info">
                        <i class="fa-solid fa-truck"></i>
                        <p class=home__main__section__article--info--precio>$70.500</p>
                        <p class=home__main__section__article--info--desc>10% off</p>
                        <h5>Samsung Galaxy S10</h5>
                    </div>
                   </article>
                   <article class="home__main__section__article">
                    <img src="images/img-tv-samsung-smart.jpg" alt="macbook">
                    <div class="home__main__section__article--info">
                        <i class="fa-solid fa-truck"></i>
                        <p class=home__main__section__article--info--precio>$23.200</p>
                        <p class=home__main__section__article--info--desc>5% off</p>
                        <h5>SmartTv Samsung 43"</h5>
                    </div>
                </article>
            </section>
        </main>
            <footer class="footer">
                <section class="footer__section">
                    <i class="fa-solid fa-credit-card" id="icon-card"></i>
                    <h4 class="footer__section__title">Pagá con tarjeta o en efectivo</h4>
                    <p class="footer__section__text">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
                </section>
                <section class="footer__section">
                    <i class="fa-solid fa-gift" id="icon-gift"></i>
                    <h4 class="footer__section__title">Envío gratis desde $ 2.500</h4>
                    <p class="footer__section__text">Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                </section>
                <section class="footer__section">
                    <i class="fa-solid fa-user-shield"id="icon-user"></i>
                    <h4 class="footer__section__title">Seguridad, de principio a fin</h4>
                    <p class="footer__section__text">¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                </section>
                <p class="footer__section__text--credit">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </footer>
</body>
</html>