*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--tipografia);

}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
  
}
ol, ul{
    padding: 0;
}