.header{
    background-color: var(--amarillo);
    
}
.header__logo{
    width: 40%;
    margin-top: 20px;
    margin-left: 20px;
}
.header__buscador{
    display: inline;
    margin-top: 20px;
    margin-left: 20px;
}
.header_boton-buscador{
    display: inline-block;
    width: auto;
    margin-left: 20px;

}
.header__text{
    margin-top: 20px;
    margin-left: 50px;
    font-size:var(--texto);
}
.header__contenedor__menu{
    margin-block-start: 0%;
}
.header__menu{
    display: none;
    margin-top: 20px;
    list-style: none;
    padding: 0;
    font-size:var(--texto);
}
.header_burger-menu{
    text-align: center;
    margin-left: 150px;
    padding: 5px;
    width: 20px;
    height: 20px;
    background-color: blue;
    color:white;
    border-radius: 5px;
}

/*TABLET*/
@media(min-width:361px){
    .header__menu{
        display: block;
    }
    .header_burger-menu{
        display: none;
    }
}

/*DESKTOP*/
@media(min-width:769px){
    .header__menu{
        display: block;
    }
    .header_burger-menu{
        display: none;
    }
}