.header{
    background-color: var(--amarillo);
    
}
.header__nav__container{
display: flex;
justify-content: space-between;
}

.header__logo{
    width: 40%;
    flex-grow: 1;
    margin-top: 20px;
    margin-left: 20px;
}
.header__buscador{
    width: 50%;
    height: 40px;
    flex-grow: 1;
    display: inline;
    margin-top: 20px;
    margin-left: 10px;
    border: none;
    border-radius: 3px;
}
.header_boton-buscador{
    display: inline-block;
    width: auto;
    margin-left: 0px;
    border: none;
}
.header__text{
    margin-top: 20px;
    margin-left: 50px;
    font-size:var(--texto);
}
.header__contenedor__menu{
    margin-block-start: 0%;
}
.header__menu{
    display: none;
    margin-top: 20px;
    list-style: none;
    padding: 0;
    font-size:var(--texto);
}
.header_burger-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
    width: 25px;
    height: 25px;
    background-color: blue;
    color:white;
    border-radius: 5px;
}

/*TABLET*/
@media(min-width:361px){
    .header__menu{
        display: block;
    }
    .header_burger-menu{
        display: none;
    }
}

/*DESKTOP*/
@media(min-width:769px){
    .header__menu{
        display: block;
    }
    .header_burger-menu{
        display: none;
    }
}