body{
    background-color: var(--grisClaro);
}
.home__main{
    width: 90%;
    margin: 0 auto;
}
.home__main__section{
display: flex;
flex-wrap: wrap;
}
.home__main__section__article{
    margin-bottom: 10px;
    background-color: #fff;
   


}
.home__main__section__article:last-child{
    
    
}
.home__main__section--title{
width: 100%;
font-size: var(--titulares);
color: var(--grisOscuro);
text-align: left;
padding: 15px 0;
}
.home__main__section__article--info{
   display: flex;
   flex-wrap: wrap;
   border-top: 1px solid var(--grisClaro);
   padding: 15px;
   position: relative;
   align-items: center;
 }
   
.home__main__section__article img{
    width: 100%;

}
.home__main__section__article--info i{
    color: var(--verde);
    border: 1px solid var(--verde);
    border-radius: 50%;
    padding: 4px;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: 0.5s;
    }
.home__main__section__article--info i:hover{
    transform: rotate(-90deg);
    
    
}
.home__main__section__article--info--desc{
    flex-grow: 0.7;
    color: var(--verde);
    font-size: var(--descuentos);
}
.home__main__section__article--info--precio{
    font-size: var(--precios);
    flex-grow: 0.3;

}
.home__main__section__article--info h5{
    display: none;
    width: 100%;
    font-size: var(--descripciones);
    color: var(--grisOscuro);
    align-items: flex-start;
}
.home__main__section__article--info:hover h5{
    display:block;
}

/*TABLET*/
@media(min-width:361px){
    .home__main__section{
        justify-content: space-between;
    }
    .home__main__section__article{
        box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
        width: 45%;
        }
    .home__main__section__article--info h5{
        

    }

    
}

/*DESKTOP*/
@media(min-width:769px){
    .home__main__section__article{
        box-shadow : 0px 0px 10px rgb ( 100 , 100 , 100 );
        width: 24%;
        
        }
    .home__main__section__article--info h5{
       
    }
}